body {
    background-color: #f2e8cf;
    font-family: "Berkshire Swash", serif;
    min-height: 100vh;
}


.text-custom { color: #386641; }
/*!*.bg-custom { background-color: #f2e8cf; }*/
.primary-custom { color: #6a994e; }
.secondary-custom { color: #a7c957; }
.accent-custom { color: #bc4749; }

.gradient-text {
    background: linear-gradient(to right, #386641, #bc4749);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text {
    font-size: 3.5rem;
    line-height: 1.2;
}
@media (max-width: 768px) {
    .hero-text {
        font-size: 2.5rem;
    }
}

.bg-custom { background-color: #a7c957; }